/*******************/
/* VARIABLES
/*******************/

$midnightblue: #1D1D30;
$lavender: #E6E6FA;
$gold: gold;
$coral: coral;
$lightseagreen: lightseagreen;


/*******************/
/* FONTS
/*******************/
