/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');


/****************************************

ELEMENTS

*****************************************/

body {
    color: #333;
    font-family: 'Josefin Slab', serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


/* Typography */
/**************************/

.h1 {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 4.5em;
    font-weight: 300;
    letter-spacing: .05em;
    opacity: .9;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}

.h2 {
    background: black;
    background-image: linear-gradient(to right, #ec6300 0%, #f9007c 100%);
    background-clip: text;
    color: black;
    display: inline-block;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3 {
    font-size: 1.35em;
    font-weight: 100;
    letter-spacing: .035em;
    margin: 0 0 .15em 0;
    text-transform: uppercase;
    color: black;
}

@media screen and (max-width: 767px) {
    .h1 {font-size: 3.25em;}
}

@media screen and (max-width: 479px) {
    .h1 {
        font-size: 2.5em;

        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}
